<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="card">
            <div class="card-header bg-dark text-white">QUẢN LÝ ĐƠN HÀNG</div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                    <tr>
                        <th>Mã ĐH</th>
                        <th>Khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Địa chỉ</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o : ${items}">
                        <td th:text="${o.id}"></td>
                        <td th:text="${o.account.fullname}"></td>
                        <td th:text="${#dates.format(o.createDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${o.address}"></td>
                        <td class="text-center">
                            <a th:href="@{|/order/detail/${o.id}|}" class="btn btn-sm btn-info me-1">Xem</a>
                            <a th:href="@{|/admin/orders/delete/${o.id}|}" class="btn btn-sm btn-danger"
                               onclick="return confirm('Bạn có chắc muốn xóa đơn hàng này?');">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>